/tree_sitter_test/
/some_utils/
/llama-cpp-python/
/.idea/
/.venv/
/config/

/vendor/microsoft/monako-editor/node_modules/monaco-editor/dev/
/vendor/microsoft/monako-editor/node_modules/monaco-editor/esm/
/vendor/microsoft/monako-editor/node_modules/monaco-editor/min-maps/
/__pycache__/
__pycache__/chat.cpython-312.pyc
__pycache__/code_request.cpython-312.pyc
__pycache__/db.cpython-312.pyc
__pycache__/ext.cpython-312.pyc
__pycache__/lang.cpython-312.pyc
__pycache__/settings.cpython-312.pyc
__pycache__/tree_sitter_t.cpython-312.pyc
/project_structure.txt
/sber.py
/structure.py
/test_so.py
/web_search.py
/web_search_duck.py
/yandex.py
/.vscode/
/log/
